{% extends 'base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}
<h1>{{ main_title }}</h1>
    {% for app in application %}
        ------------------------------------------------------------------------------------<br>
        | Название: {{ app.title }}<br>
        | Описание: {{ app.description }}<br>
        | Магазин: {{ app.store }}<br>
        | Рейтинг: {{ app.scoreText }} (проголосовали: {{ app.ratings }})<br>
        | Отзывов: {{ app.reviews }}<br>
        | Топ в магазине: {{ app.top }}<br>
        ------------------------------------------------------------------------------------<br>
        <br>
    {% endfor %}
{% endblock %}